body {
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 6vh;
  align-items: center;
  font-family: arial, sans-serif;
  font-size: 13px;
  padding-top: 2.5vh;
  padding-right: 35px; 
}

.header-elements {
  margin : 7px;
  text-decoration: none;
  color: rgb(67,67,67);
}

.header-elements:hover {
  text-decoration: underline;
}

.bouton-connexion {
  background-color: #4386FA;
  color: #FFFFFD;
  font-weight: bolder;
  border-radius: 3px;
  width: 100px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82.5vh;
}

.barre-recherche {
	width: 40%;
	height: 6.5%;
	margin-top: 20px;
	margin-bottom: 25px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

input {
	width: 100%;
	height: 90%;
  outline: none;
}

button {
	height: 40px;
	height: 35px;
	border: none;
	color: #686B70;
	background-color: rgb(220,220,220);
	font-weight: bold;
	margin-right: 10px;
	margin-left: 10px;
}

footer {
  height : 9vh;
  background-color: #F2F2F2;
}

.pays {
  display: flex ;
  border-top: 2px #E4E4E4 solid;
  border-bottom: 2px #E4E4E4 solid;
  height : 50%;
  padding-left: 10px;
  justify-content: center;
  flex-direction : column;
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #5F6374;
}

.lien {
  display: flex;
  height: 50%;
  font-family: arial, sans-serif;
  font-size: 15px;
}

.lien-gauche {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
}

.lien-droite {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}

.lien-elements {
  margin: 10px;
  text-decoration: none;
  color: #5F6374;
}

.lien-elements:hover {
  text-decoration: underline;
}
